/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #263043;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
 
}

form.RegistrationForm {
    background-color: #ffffff;
    /* Form background */
    color: #263043;
    /* Form text color */
    width: 500px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="password"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
    outline: none;
    border-color: #263043;
    box-shadow: 0 0 5px rgba(38, 48, 67, 0.8);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #263043;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1e2a38;
}

p.Error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

h3 {
    color: #263043;
    margin-top: 20px;
    font-size: 18px;
}

.InstructionsOfPassword {
    background-color: #f5f5f5;
    color: #263043;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.InstructionsOfPassword b {
    font-size: 16px;
}

div {
    margin-top: 10px;
}